ensure==1.0.4
langchain==0.2.14
langchain-community
ollama==0.3.1
pinecone==5.0.1
pydantic==1.10.17
PyPDF2==3.0.1
pypdf
python-dotenv==1.0.1
python_box==7.2.0
PyYAML==6.0.2
setuptools==73.0.1
streamlit==1.25.0
-e .





